header{

    width:1024px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    
}
.headerContainer{
    height: 125px;
    width: auto;
    background-color: rgb(35, 35, 35);
    z-index: 99;

    position: fixed;
    display:flex;
    align-items: center;
    box-sizing: border-box;

}

.headerContainer .logo{
    padding-left: 10px;
}

.headerContainer .navbutton{
    display:inline-block;
    padding: 10px 15px;
    font-size: 1.25rem;
    border: 2px solid white;
    border-radius: 12px;
    display: inline-block;
    position: relative;

}

.headerContainer .dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    margin-top: 13px;
    text-align: center;
    /* background-color: grey; */
    margin-left:-20px;
    border-radius: 10px;

}

.headerContainer .dropdown .navbutton:hover{
    background-color: lightgray;
    text-shadow: 2px 2px 2px black;
}

.headerContainer .navbutton:hover .dropdown{
    display: block;       
}

.headerContainer .dropdown .navbutton{
    background-color: grey;
    border: 5px solid black;
    border-radius: 10px;
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
}

.headerContainer p{
    padding: 1rem;
    font-size: 1.2rem;
    color:white;
}

.headerContainer h1{
    font-size: 3rem;
    padding: 1rem;
    text-decoration: underline;
    font-family: 'Playfair Display', sans-serif;
}

.headerContainer h2{
    font-size: 2rem;
    font-family: 'Playfair Display', sans-serif;
    padding: 1rem;

}

.headerContainer a{
    color:white;
    text-decoration: none;
}

.headerContainer .logo{
    height: 120px;
    display: flex;
    align-items: center;
}

.headerContainer .logo h1{
    text-decoration: underline;
    padding-left: 20px;
}

.headerContainer .logo img{
    height: 80%;
}