@media (max-width: 1055px){

    header{
        justify-content: space-around;
    }

}

@media (max-width: 860px){

    .logo h1{
        font-size: 2rem;
        padding-left: 10px;
        padding-right: 10px;

 

    }

    .logo img{
        height: 90px;
    }

}

@media (max-width: 700px){

    .logo h1{
        width:160px;
        line-height: 3rem;
    }


}
@media (max-width: 615px){

    .headerContainer{
        height:fit-content;
        box-sizing: border-box;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgb(15,15,15);
        box-sizing: border-box;

        /* display: none; */
    }



    .logo h1{
        width: 315px;
        padding:0;
    }

    header{
        background-color: rgb(35, 35, 35);
        flex-wrap: wrap;

    }

    header a:first-of-type{
        width: 70%;
    }

    .headerContainer .primaryMenu{
        width: 30%;
        text-align: center;
        padding-left:0;
        padding-right: 0;
        border-radius: 0;
        margin:10px;
        box-sizing: border-box;
    }

    .navbutton{
        margin-left: 10px;
    }

    .myContainer{
        padding-top:200px;
    }


}