section h2{
    margin-bottom: 0;
}

section p{
    margin-bottom: 0;
    padding: 0.5rem;
    padding-left: 1rem;
}

section{
    margin:0;
    padding: 10px;
}



.card p{
  color:black;
  padding:0;  
  font-size: 0.75rem;
  text-align: justify;
}

.card h2{
    padding:0;
}


.accordion h2{
    color: black;
    text-decoration-color: black;
    
}

.accordion-button:not(.collapsed){
    background-color: black;
    color:black;
}

.accordion-header{
    margin:0;
    padding:0;
}
.accordion-button{
    margin:0;
    padding:0;
    padding-right: 30px;
    padding-left: 30px;;
}

.accordion-button mcard1{
    margin-right: 100px;
}

.accordion{
    border: 5px solid black;
    border-radius: 10px;
}

.accordion .mcard1{
    width:90%;
}

.accordion-button::after{
    background-color:white;
    border-radius:2px;
}




/* Accordion Flush */

.accordion-flush .accordion-button{
    background-color: white;
    padding:1rem;
}



.tab {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    transition: 0.3s;
    border: 2px solid  #ccc;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 0 12px;
    border: 2px solid #ccc;
    border-top: none;
    background-color: #f1f1f1;
    box-sizing: border-box;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .tabcontent p{
      color:black;
  }

  .tabcontent img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


.row dt , .row dd{
    border:2px black solid;
    margin: 0;
    box-sizing: border-box;
}

.row dt{
    border-left:4px black solid;
}

.row dd{
    border-right:4px black solid;
}

.row dt:last-of-type, .row dd:last-of-type{
    border-bottom: 4px black solid;
}

.row dt:first-of-type, .row dd:first-of-type{
    border-top: 4px black solid;
}
