body{
  background-size: cover;
  background-color: purple;
  
}

.myContainer{
  height:100%;
}

section.title{
  display: flex;
}

.title h1{
  display:block;
  justify-content: center;
}

p{
  color: black;
}
li{

  font-size: 1rem;
  color:white;
}

h2{
  font-size: 2.25rem;
  /* padding-bottom: 0px; */
}

.header-container{
  z-index: 99;
}

main{
  min-height:500px;
  max-height: fit-content;
  background: linear-gradient(to right, darkred, purple);
}

.vl {
    border-left: 6px solid green;
    height: 1565px;
    /* height: 100%; */
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top:1px;
  }

  .youtube{
    width: 50%;

  }

  .twitch{
    width: 50%;
  }

  .platform{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .title{
    display: inline-flex;
    align-items: center;
  
  }

  .youtube i{
    font-size: 50px;
    color:red;
    background-color: white;
    border-radius: 10px;
    border: 5px solid white;
  }

  .twitch i{
    font-size: 50px;
    color: purple;
    background-color: white;
    border-radius: 10px;
    border: 5px solid white;
  }

  
  iframe{
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    width:100%;
  }

  .platform img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
    padding: 0 10px;
    border-radius: 20px;
    box-sizing: border-box;

  }

  .aspect-ratio {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 51%;
  }

  .aspect-ratio iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; top: 0;
  }

  .media-cards{
    display: flex;
    flex-wrap: wrap;
  }

  .mcard1{
    text-decoration: underline;
    background-color: teal;
    width:max-content;
    text-align: center;
    margin: 10px auto;
    border-radius: 10px;
    border:10px solid lightblue;
  }

  section p{
    font-weight: bold;
    text-align: left;
    padding-bottom: 0;
  }

  section{
    padding-bottom: 5px;
    text-align: left;
  }

  span.keyword{
    color: white;
    /* color:lightskyblue; */
    /* text-decoration: underline; */
    background-color: black;
    border-radius: 5px;
    display:inline-block;
    padding:0.5rem;
    margin-bottom: 5px;
    text-align: left;

  }

  .final_section{

    height: 100px;
    display:flex;
    justify-content: space-between;
  }

  .final_section .image1{
    position:relative;
    width: 30%;
  }
  
  .final_section .image2{
    position:relative;
    width: 30%;
  }
  
  .final_section .image3{
    position:relative;
    width: 30%;
  }